body{
    background-color: red;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: gold;
    font-weight: bold;
    text-align: center;
}
.titulo img{
    width: 500px;
    margin: 50px;
}
.enlace{
    display: flex;
    align-items: center;
    justify-content: center;
}
.enlace a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: blue;
    font-size: 30px;
}
.subtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.conten{
    display: flex;
    align-items: center;
    justify-content: center;
}
.conten p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: gold;
    font-weight: bold;
    text-align: justify;
}
.conten img{
width: 500px;
margin: 50px;
}
